openapi: 3.1.0
info:
  title: Bitpanda Platform assets wallets API
  version: v1
  description: 'Read-only Bitpanda Developer (Platform) API for querying a Bitpanda account: wallet balances, transactions, asset metadata, and live ticker prices across all asset types (crypto, fiat, stocks, ETFs, metals, indices). Generated by the API Evangelist enrichment pipeline from Bitpanda Labs'' first-party API reference (github.com/bitpanda-labs/agent-skills). Authentication is via an X-Api-Key header; pagination is cursor-based.'
  contact:
    name: Bitpanda Developer Portal
    url: https://developers.bitpanda.com/platform/
  license:
    name: Bitpanda Terms and Conditions
    url: https://www.bitpanda.com/en/legal/bitpanda-group-general-terms-conditions
servers:
- url: https://developer.bitpanda.com
  description: Bitpanda Platform API (used by the official MCP server, CLI, and agent skill)
- url: https://api.bitpanda.com/v1
  description: Bitpanda public API host (developers.bitpanda.com reference)
security:
- ApiKeyAuth: []
tags:
- name: wallets
  description: Wallet balances across all asset types
paths:
  /v1/wallets/:
    get:
      operationId: listWallets
      summary: List wallets (balances)
      description: List all user wallets (balances) across all asset types. Cursor paginated.
      tags:
      - wallets
      parameters:
      - name: asset_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by asset ID
      - name: index_asset_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by index asset ID
      - name: last_credited_at_from_including
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Wallets credited at >= date
      - name: last_credited_at_to_excluding
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Wallets credited at < date
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: Return page before cursor
      - name: after
        in: query
        required: false
        schema:
          type: string
        description: Return page after cursor
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
        description: Items per page
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ServerError:
      description: Internal server error
    Unauthorized:
      description: Invalid credentials / access token
  schemas:
    Wallet:
      type: object
      properties:
        wallet_id:
          type: string
          format: uuid
        asset_id:
          type: string
          format: uuid
        wallet_type:
          type:
          - string
          - 'null'
          enum:
          - STAKING
          - CRYPTO_INDEX
          - null
        index_asset_id:
          type:
          - string
          - 'null'
          format: uuid
        last_credited_at:
          type: string
          format: date-time
        balance:
          type: number
          example: 1.23456789
    WalletPage:
      allOf:
      - $ref: '#/components/schemas/CursorPage'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Wallet'
    CursorPage:
      type: object
      properties:
        start_cursor:
          type: string
        end_cursor:
          type: string
        has_previous_page:
          type: boolean
        has_next_page:
          type: boolean
        page_size:
          type: integer
          example: 25
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Bitpanda API key. Generate one at https://web.bitpanda.com/my-account/apikey
