openapi: 3.1.0
info:
  title: Bitpanda Platform assets API
  version: v1
  description: 'Read-only Bitpanda Developer (Platform) API for querying a Bitpanda account: wallet balances, transactions, asset metadata, and live ticker prices across all asset types (crypto, fiat, stocks, ETFs, metals, indices). Generated by the API Evangelist enrichment pipeline from Bitpanda Labs'' first-party API reference (github.com/bitpanda-labs/agent-skills). Authentication is via an X-Api-Key header; pagination is cursor-based.'
  contact:
    name: Bitpanda Developer Portal
    url: https://developers.bitpanda.com/platform/
  license:
    name: Bitpanda Terms and Conditions
    url: https://www.bitpanda.com/en/legal/bitpanda-group-general-terms-conditions
servers:
- url: https://developer.bitpanda.com
  description: Bitpanda Platform API (used by the official MCP server, CLI, and agent skill)
- url: https://api.bitpanda.com/v1
  description: Bitpanda public API host (developers.bitpanda.com reference)
security:
- ApiKeyAuth: []
tags:
- name: assets
  description: Asset metadata lookup
paths:
  /v1/assets/{asset_id}:
    get:
      operationId: getAsset
      summary: Get asset
      description: Get asset information (name, symbol) by asset ID.
      tags:
      - assets
      parameters:
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Asset ID
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ServerError:
      description: Internal server error
    NotFound:
      description: Resource not found
    Unauthorized:
      description: Invalid credentials / access token
  schemas:
    Asset:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Bitcoin
        symbol:
          type: string
          example: BTC
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Bitpanda API key. Generate one at https://web.bitpanda.com/my-account/apikey
