openapi: 3.1.0
info:
  title: Bitpanda Platform assets transactions API
  version: v1
  description: 'Read-only Bitpanda Developer (Platform) API for querying a Bitpanda account: wallet balances, transactions, asset metadata, and live ticker prices across all asset types (crypto, fiat, stocks, ETFs, metals, indices). Generated by the API Evangelist enrichment pipeline from Bitpanda Labs'' first-party API reference (github.com/bitpanda-labs/agent-skills). Authentication is via an X-Api-Key header; pagination is cursor-based.'
  contact:
    name: Bitpanda Developer Portal
    url: https://developers.bitpanda.com/platform/
  license:
    name: Bitpanda Terms and Conditions
    url: https://www.bitpanda.com/en/legal/bitpanda-group-general-terms-conditions
servers:
- url: https://developer.bitpanda.com
  description: Bitpanda Platform API (used by the official MCP server, CLI, and agent skill)
- url: https://api.bitpanda.com/v1
  description: Bitpanda public API host (developers.bitpanda.com reference)
security:
- ApiKeyAuth: []
tags:
- name: transactions
  description: Transaction history across all asset types
paths:
  /v1/transactions:
    get:
      operationId: listTransactions
      summary: List transactions
      description: List all user transactions across all asset types, newest first. Cursor paginated.
      tags:
      - transactions
      parameters:
      - name: wallet_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by wallet ID
      - name: flow
        in: query
        required: false
        schema:
          type: string
          enum:
          - incoming
          - outgoing
        description: Filter by flow direction
      - name: asset_id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: Filter by asset ID (repeatable)
      - name: from_including
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Transactions credited at >= date
      - name: to_excluding
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Transactions credited at < date
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: Return page before cursor
      - name: after
        in: query
        required: false
        schema:
          type: string
        description: Return page after cursor
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
        description: Items per page
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ServerError:
      description: Internal server error
    Unauthorized:
      description: Invalid credentials / access token
  schemas:
    Transaction:
      type: object
      properties:
        transaction_id:
          type: string
          format: uuid
        operation_id:
          type: string
          format: uuid
        asset_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        wallet_id:
          type: string
          format: uuid
        asset_amount:
          type: number
          example: 0.5
        fee_amount:
          type: number
          example: 0.001
        operation_type:
          type: string
          description: buy | sell | deposit | withdrawal | transfer | staking, etc.
        transaction_type:
          type:
          - string
          - 'null'
        flow:
          type: string
          enum:
          - incoming
          - outgoing
        credited_at:
          type: string
          format: date-time
        compensates:
          type:
          - string
          - 'null'
          format: uuid
          description: Links to a reversed/corrected transaction
        trade_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Present when the transaction resulted from a trade
    TransactionPage:
      allOf:
      - $ref: '#/components/schemas/CursorPage'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Transaction'
    CursorPage:
      type: object
      properties:
        start_cursor:
          type: string
        end_cursor:
          type: string
        has_previous_page:
          type: boolean
        has_next_page:
          type: boolean
        page_size:
          type: integer
          example: 25
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Bitpanda API key. Generate one at https://web.bitpanda.com/my-account/apikey
