openapi: 3.1.0
info:
  title: Bitpanda Platform assets market-data API
  version: v1
  description: 'Read-only Bitpanda Developer (Platform) API for querying a Bitpanda account: wallet balances, transactions, asset metadata, and live ticker prices across all asset types (crypto, fiat, stocks, ETFs, metals, indices). Generated by the API Evangelist enrichment pipeline from Bitpanda Labs'' first-party API reference (github.com/bitpanda-labs/agent-skills). Authentication is via an X-Api-Key header; pagination is cursor-based.'
  contact:
    name: Bitpanda Developer Portal
    url: https://developers.bitpanda.com/platform/
  license:
    name: Bitpanda Terms and Conditions
    url: https://www.bitpanda.com/en/legal/bitpanda-group-general-terms-conditions
servers:
- url: https://developer.bitpanda.com
  description: Bitpanda Platform API (used by the official MCP server, CLI, and agent skill)
- url: https://api.bitpanda.com/v1
  description: Bitpanda public API host (developers.bitpanda.com reference)
security:
- ApiKeyAuth: []
tags:
- name: market-data
  description: Live ticker prices
paths:
  /v1/ticker:
    get:
      operationId: getTicker
      summary: Get ticker prices
      description: Returns current prices for all available assets. Cursor paginated.
      tags:
      - market-data
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
        description: Items per page
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Cursor for next page
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ServerError:
      description: Internal server error
    Unauthorized:
      description: Invalid credentials / access token
  schemas:
    TickerPage:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Ticker'
        next_cursor:
          type: string
        has_next_page:
          type: boolean
    Ticker:
      type: object
      properties:
        id:
          type: string
          format: uuid
        symbol:
          type: string
          example: BTC
        type:
          type: string
          example: cryptocoin
        currency:
          type: string
          example: EUR
        price:
          type: string
          example: '95000.00000000'
        price_change_day:
          type: string
          example: '1.33'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Bitpanda API key. Generate one at https://web.bitpanda.com/my-account/apikey
